player-connection-mode=Listen
player-connection-guid=1717620202
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=172.26.128.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.3.164
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=73d3181aac9e4080b80d5f9ba4b0e3ff
