player-connection-mode=Listen
player-connection-guid=453881620
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=172.24.160.1
player-connection-ip=192.168.56.1
player-connection-ip=10.128.85.5
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=65b11271487b49fe8f50623031148999
