player-connection-mode=Listen
player-connection-guid=1278122386
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=172.25.64.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.3.164
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6f3430e0f32a48f9b60e7e1edc9d06f3
